:root {
  --background-color: black;
  --box-shadow: rgba(0, 255, 208, 0.7);
  --text-color: white;
  --box-shadow-color: rgb(0, 255, 208);
}

* {
  padding: 0;
  margin: 0;
  font-family: workbench;
  box-sizing: border-box;
  border: none;
}

body {
  height: 100vh;
  color: var(--text-color);
  background-image: url(Assets/background-image.jpg);
}

.sidebar img {
  width: 100%;
  color: var(--text-color);
}

.sidebar-button {
  background-color: var(--background-color);
  width: 50%;
  height: 15%;
  padding: 13%;
  border-radius: 10px;
  /* border: solid 1px white; */
  box-shadow: 4px 4px 10px var(--box-shadow);
}

.sidebar-button img:hover{
  filter: brightness(70%);
}

.game-title {
  font-size: 7vh;
  margin-left: 0.6em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30vh;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  background-color: var(--background-color);
  box-shadow: 4px 4px 10px var(--box-shadow);
}

.topbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 25vh;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 30vh;
  right: 0;
  box-shadow: 10px 4px 10px var(--box-shadow);
  padding-right: 1.6em;
}

.user-container {
  display: flex;
  width: 120px;
  height: 60px;
  justify-content: space-between;
  box-shadow: 4px 4px 10px var(--box-shadow);
  border-radius: 10px;
  padding: 1em;
}

.user-name {
  font-size: 1.6rem;
  align-self: center;
}

.stat-container {
  display: flex;
  position: absolute;
  font-size: 2rem;
  top: 30vh;
  left: 10vw;
  right: 10vw;
  justify-content: space-between;
  align-items: center;
}

.score-container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px var(--box-shadow);
}

.timer {
  padding-left: 30px;
  padding-right: 30px;
  border-left: solid 1px var(--box-shadow-color);
  border-right: solid 1px var(--box-shadow-color);
}

.moves-container {
  display: flex;
  position: absolute;
  top: 45vh;
  left: 6vw;
  right: 4vw;
  font-size: 4rem;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  position: absolute;
  display: flex;
  top: 85vh;
  left: 11vw;
  right: 9vw;
  justify-content: space-between;
}

.rock-button,
.paper-button,
.scissor-button {
  font-size: 3rem;
  background-color: black;
  color: white;
  /* border: solid 1px; */
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--box-shadow);
  
}

.rock-button,
.paper-button {
  padding: 0.3em 0.9em;
  margin-right: 20px;
}

.scissor-button {
  padding: 0.3em 0.5em;
}

button:hover{
  color: var(--box-shadow-color);
}

button:active{
  transform: scale(0.9);
}
